
.majt {

  text-indent:12px;
  background-color:#f1f1f1;
  padding:3% 2% 2% 2%;
  float:left;
  width:27%;
  height:210px;
  margin-left:9%;
  margin-bottom: 2%;
  margin-top:2%;
  box-sizing: border-box;

}
.nemes {
	text-indent:12px;
  background-color:#f1f1f1;
  padding:3% 2% 2% 2%;
  float:left;
  width:27%;
  height:210px;
  margin-bottom: 2%;
  margin-top:2%;
  border-left: 2px solid rgb(90,90,90);
  box-sizing: border-box;
}
.djatht {
  text-indent:12px;
  background-color:#f1f1f1;
  padding:3% 2% 2% 2%;
  float:left;
  width:27%;
  height:210px;
  margin-bottom: 2%;
  margin-top:2%;
  border-left: 2px solid rgb(90,90,90);
  box-sizing: border-box;
}
@media (max-width:800px) {
  .majt, .nemes, .djatht {
    width:100%;
}
