body,html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Tahoma", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

#llogo{
margin-top:2%;
margin-left:7%;
width:70%;

}
.findfooter{
margin-right:2%;
}
#imglogo{
margin-right:2%;
}
.foto1,.foto2,.foto3,.foto4,.foto5,.foto6,.foto7,.foto8{
    position: relative;
    opacity: 0.7;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.foto1{
    background-image:url("Images/earth-14573.jpg") ;
    min-height: 100%;
}

.foto2{
    background-image:url("Images/europe.jpg") ;
    min-height: 400px;
}

.foto3{
    background-image:url("Images/america.jpg") ;
    min-height: 400px;
}

.foto4{
    background-image:url("Images/asia.jpg") ;
    min-height: 400px;
}

.foto5{
    background-image:url("Images/africa.jpg") ;
    min-height: 400px;
}
.foto6{
    background-image:url("Images/australia.jpg") ;
    min-height: 400px;
}

.foto7{
    background-image:url("Images/samerica.png") ;
    min-height: 400px;}

  .foto8{
    background-image:url("Images/Earth2.jpg") ;

    min-height: 100%;
    }

.section{
   text-align:center;
   padding:50px 80px;
   box-shadow: 0 5px 40px black;
}
.section-l{
    background-color:#f4f4f4;
    color:#666;
}

.section-d{
    background-color:#282e34;
    color:#ddd;
}

.text1{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    color:#000;
    font-size:27px;
    letter-spacing: 8px;
    text-transform:uppercase;

}

.text1 .korniza{
    cursor: pointer;
    background-color:#111;
    color:#fff;
    padding:20px;
    position: center;

}
*{
  padding: 0;
  margin: 0;
}
.sidebar{
width:200px;
background:#111;
position: fixed;
left: -200px;
  transition: .3s;
}
.active{
  left: 0;
}

a{
    text-decoration: none;
}

ul{

    list-style:none;
}

.sidebar a{
    display:block;
    padding:5px 5px 10px;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 12px;
    transition: linear 150ms;
text-align: center;
}
.sidebar ul li ul li a{
background-color: black;

}



.sidebar a:hover{
  color:grey;
  cursor: pointer;
}
.sidebar ul ul{
  display: none;
}

.sidebar ul :hover ul{
  display:block;
}

.sidebar ul li ul li ul li{
  display: none;
}

.sidebarBtn{
  position: absolute;
  top: 0;
  left: 200px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-sizing: border-box;
  background: transparent;
  border:none;
  outline: none;
}

.sidebarBtn span{
  display: block;
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 24px;
  transition: .3s;
  left:7px

}

.sidebarBtn span:before{
  content: '';
  width: 25px;
  height: 2px;
  left: 0px;
  background: #fff;
  position: absolute;
  top: -7px;
  transition: .3s;
}

.sidebarBtn span:after{
  content: '';
  width: 25px;
  height: 2px;
  left: 0px;
  background: #fff;
  position: absolute;
  top: 7px;
  transition: .3s;
}

.sidebarBtn.toggle span{
  background: transparent;
}

.sidebarBtn.toggle span:before{
  top:0;
  transform: rotate(45deg);
}

.sidebarBtn.toggle span:after{
  top:0;
  transform: rotate(-45deg);
}

#see1,#see2,#see3{
  position: relative;
  box-sizing: border-box;
  background: transparent;
  border:none;
  outline: none;
  cursor: pointer;
  color: blue;
}
#australia{
  display: none;
}

#south{
  display: none;
}

#box{
  position: relative;
  cursor: pointer;
}
#box1{
  position: relative;
  cursor: pointer;
}
