body{
  font-family: Tahoma;
}

.menu{
  width:83%;
  margin:0 auto;
}
#title{

  text-align: center;
  font-size: 80px;
  font-weight: 600;
  color:white;
  opacity: 0.8;
  transition: all ease-in-out 250ms;
}
#title:hover{
color:white;
font-size: 100px;
opacity: 1.0;
transition: all ease-in-out 250ms;
cursor: pointer;
}
body{
  background-color: #e7e8ed;

}
#hf{
  background:white;
  font-family:Tahoma;
  font-size:16px;

}
/*after-pseudo.tag perdoret per dekorime*/
#hf::after{
  content:"";
  clear: both;
  display: table;
}
#logo{
  float:left;
  color:grey;
  transition:all ease-in-out 250ms;
}

#logo:hover{
  color:black;
  cursor: pointer;
}

nav{
  float: right;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0
}

nav ul li{
  display: inline-block; /*inline-block=float:left;*/
  margin-left: 70px;
  padding-top: 20px;
  position: relative;
}

nav a{
  text-decoration: none;
  text-transform: uppercase;
  color: grey;
  font-size: 16px;
}

nav a:hover{
  color:#111;
  cursor: pointer;
}

nav a::before{
  content: "";
  display:block;
  background-color:grey;
  height: 5px;
  width: 0%;
  position:absolute;
  top:0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width: 100%;
}
header{
  background-image: url("images/ProjectDesignFinalHeader.png");
  background-size: cover;

  height: 440px;
margin-left: -10px;
margin-right:-9px;

}
footer{
  background-image: url("images/ProjectDesignFinalFooter.png");
  background-size: cover;
  height: 300px;
 margin-left: -10px;
margin-right:-9px;

}
#llogo {
margin-top:2%;
margin-left:7%;
float:left;
width:70%;
}
#imglogo {
margin-right:2%;
}
.findfooter{
margin-right:2%;
}

#Clock{
font-size:17px;
transform: translateX(100%);
background-color:rgb(80,80,80);
color:rgb(210,210,210);
padding: 10px ;
max-width:25%;
}
